{
   "speechFileDir": "/home/noah/workspace/OverWall/news_speech_file/",
   "cacheSize": 31457280,
   "oneSentenceLen": 500,
   "maxGenVoiceTask": 5,
   "easyreadUsername": "piassistant87@163.com",
   "easyreadPwd": "15935787",
   "staticResource": "/home/noah/workspace/OverWall/web-resource/pages/static",
   "mainPage": "/home/noah/workspace/OverWall/web-resource/pages/main.html",
   "chimesFile": "/home/noah/workspace/OverWall/config/chimes1.mp3",
   "port": 8787
}